[Desktop Entry]
Encoding=UTF-8
Name=Link to Amazon.com: Pampers Swaddlers Newborn 240 Diapers (12 packs of 20): Health & Personal Care Product
Type=Link
URL=https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages-na.ssl-images-amazon.com%2Fimages%2FI%2F91Uum691%252BiL._AC_SL1500_.jpg&imgrefurl=https%3A%2F%2Fwww.amazon.com%2FPampers-Swaddlers-Newborn-Diapers-packs%2Fdp%2FB0019QB1P2&tbnid=bJnDRXL5dseq4M&vet=12ahUKEwijgbqc5MrsAhXSXnwKHYfmD-cQMygAegUIARDhAQ..i&docid=nfGnKHXCHgdQHM&w=1500&h=1204&q=Diapers&client=ubuntu&ved=2ahUKEwijgbqc5MrsAhXSXnwKHYfmD-cQMygAegUIARDhAQ
Icon=text-html
